<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Login | eCommerce</title>
<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/main.css}"></link>
</head>
<body>
	<div>
		<h1>Login</h1>
		<form action="#" th:action="@{/login}" method="post">
			<input type="text" name="username" placeholder="username" /> <input
				type="password" name="password" placeholder="password" />
			<button type="submit">Login</button>
		</form>
	</div>
	<div>
		<h1>Sign Up</h1>
		<form action="#" th:action="@{/user/create}" method="post">
			<input type="text" name="username" placeholder="Username" /> <input
				type="text" name="firstName" placeholder="First Name" /> <input
				type="text" name="lastName" placeholder="Last Name" /> <input
				type="text" name="email" placeholder="Email" /> <input type="password"
				name="password" placeholder="Password" />
			<button type="submit">Sign Up</button>
		</form>
	</div>


	<script type="text/javascript" th:src="@{resources/js/script.js}"></script>
</body>
</html>