<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Plan : My Night</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{resources/css/main.css}"></link>
</head>
<body>
	<div class="container">
		<div class="col-md-12">
			<h1>
				Plan for <span th:text="${baseLocation}"></span>
			</h1>
			<input id="baseLocation" type="hidden" value="New York City, NY"
				th:attr="value=${baseLocation}"></input>
			<!-- List of Events -->
			<div class="row">
				<div class="col-md-6">
					<h3>Events</h3>
					<div th:each="event : ${events}" class="event row">
						<div class="well">
							<input type="hidden" class="lat"
								th:attr="value=${event.latitude}"></input> <input type="hidden"
								class="long" th:attr="value=${event.longitude}"></input>
							<div>
								Title: <span th:text="${event.title}"></span>
							</div>
							<div>
								Description: <span th:utext="${event.description}"></span>
							</div>
							<div>
								<a href="#" th:href="${event.url}">More Details</a>
							</div>
						</div>
					</div>
				</div>
				<!-- List of Restaurants -->
				<div class="col-md-6">
					<h3>Restaurants</h3>
					<div th:each="rest : ${restaurants}" class="food col-md-6">
						<div class="well">
							<input type="hidden" class="lat" th:attr="value=${rest.latitude}"></input>
							<input type="hidden" class="long"
								th:attr="value=${rest.longitude}"></input>
							<div th:text="${rest.name}"></div>
							<div th:text="${rest.rating}"></div>
							<!-- 						<div th:text="${rest.is_closed}"></div> -->
							<div th:text="${rest.display_phone}"></div>
							<div th:each="line : ${rest.display_location}">
								<div th:text="${line}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Google Map -->
			<div style="height: 600px; width: 100%;">
				<div id="map" style="height: 100%; width: 100%;"></div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{resources/js/script.js}"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk42NzBwBRNPTiExVlg67NMcXTlKFnTZY&amp;libraries=visualization&amp;callback=initMap"></script>
</body>
</html>