<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Dash | eCommerce</title>
<link rel="stylesheet" type="text/css" th:href="@{resources/css/main.css}"></link>
	<!-- Bootstrap Core CSS -->
	<link th:href="@{resources/css/bootstrap.min.css}" rel="stylesheet"></link>

	<!-- Custom CSS -->
	<link th:href="@{resources/css/heroic-features.css}" rel="stylesheet"></link>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="index :: nav"></nav>
	<h1>Products</h1>
	<div th:each="prod : ${products}">
		<div>Name: <span th:text="${prod.name}"></span></div>
		<div>Description: <span th:text="${prod.description}"></span></div>
		<div>Price: <span th:text="${prod.amount}"></span></div>
		<form action="#" th:action="@{/dash/order}" method="post">
			<input type="hidden" name="product" th:value="${prod.idProduct}"/>
			<input type="number" name="qty" placeholder="0" />
			<button type="submit">Order</button>
		</form>
	</div>
	<footer th:include="index :: footer"></footer>
<script type="text/javascript" th:src="@{resources/js/script.js}"></script>
</body>
</html>